.main-button {
    border-radius: 2rem;
    display: flex;
    align-items: center;
    padding: 0.2rem 1em 0.2rem 1em;

}

.centerCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spaceCol {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.topCol {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.flex-end {
    justify-content: flex-end !important;

}

.reverse {
    flex-direction: column-reverse !important;
}

.centerRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.shadow {
    box-shadow: 17px 17px 16px rgb(29, 29, 29),
        -17px -17px 16px rgb(157, 157, 157);
}

.nav-shadow {
    box-shadow: 7px 7px 16px rgba(29, 29, 29), -7px -7px 16px rgba(157, 157, 157);
}



.icon:hover {
    animation: raise-container 1s;
}

@keyframes raise-container {
    0% {
        box-shadow: none;
        transform: scale(1.8);
    }

    70% {
        box-shadow: 7px 7px 16px rgba(29, 29, 29), -7px -7px 16px rgba(29, 29, 29);
        /* transform: scale(2); */
    }

    100% {
        box-shadow: none;
        transform: scale(1.8);
    }
}

@keyframes original-raise-container {
    from {
        box-shadow: none;
        transform: scale(1.8);
    }

    to {
        box-shadow: 7px 7px 16px rgba(8, 25, 36, 0.562),
            -7px -7px 16px rgba(66, 133, 161, 0.452);
        /* transform: scale(2); */
    }
}